APP_NAME=Resort VIP API

DB_SERVER=host.docker.internal
DB_DATABASE=ResortVipAdminDB
DB_USERNAME=change_this_db_user
DB_PASSWORD=change_this_db_password
DB_DRIVER=ODBC Driver 18 for SQL Server

JWT_SECRET_KEY=change_this_secret_key
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=480

FRONTEND_ORIGIN=http://localhost:5174

AZURE_SPEECH_KEY = change_this_speech_key
AZURE_SPEECH_REGION = change_this_speech_region