fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
python-multipart
SQLAlchemy
pyodbc
bcrypt==4.0.1       # 不可升級！
passlib==1.7.4
python-jose
requests
langchain-core
langchain-openai
langchain-google-genai
langchain-qdrant
langchain-text-splitters
qdrant-client
google-genai
azure-ai-translation-text
azure-cognitiveservices-speech
azure-core
openai
httpx
tiktoken
pypdf
Pillow
pillow-heif
azure-storage-blob